<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <title>动态增加减少input</title>
</head>
<body ng-app="App">
<form class="form-horizontal" ng-controller="index">
    <label class="col-sm-2 control-label">dome:</label>
    <div class="col-sm-10">
        <div ng-repeat="domain in info.operate">
            <div class="form-group">
                <label class="control-label col-sm-1" for="domain{{$index + 1}}">输入框{{$index + 1}}</label>
                <div class="col-sm-9">
                    <input type="text"
                           id="domain{{$index + 1}}"
                           class="form-control"
                           ng-model="domain.value"
                           placeholder="请输入"
                           name="domain{{$index + 1}}"/>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-default"
                            type="button"
                            ng-disabled="info.operate.length >= 4"
                            ng-click="info.add($index)">+</button>
                    <button class="btn btn-default"
                            type="button"
                            ng-click="info.delete($index)"
                            ng-show="$index">-</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    var app = angular.module('App', []);
    app.controller('index', function($scope) {
        $scope.info = {};
        //数组中存放每条input的index和value
        $scope.info.operate = [];
        $scope.info.operate.push({key: 0, value: ''});
        // 增加一条
        $scope.info.add = function($index) {
            $scope.info.operate.splice($index + 1, 0, {key: $index + 1, value: ""});
        };
        // 删除一条
        $scope.info.delete = function($index) {
            $scope.info.operate.splice($index, 1);
        };
    });
</script>
</body>
</html>