<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>动态增加减少input</title>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script>
        angular.module("myApp",[])
            .controller("inputController",function($scope){
                $scope.items=[];    //初始化数组，以便为每一个ng-model分配一个对象
                var i=0;
                $scope.getResult=function(){      //计算输入框的总值
                    var result=0;
                    angular.forEach($scope.items,function(item,key){
                        result+=parseInt($scope.items[key]);
                    })
                    $scope.result=result;
                }

                $scope.Fn= {
                    add: function () {         //每次添加都要给items数组的长度加一
                        $scope.items[i] = 0;
                        i++;
                    },
                    del: function (key) {      //每次删除一个输入框都后要让i自减，否则重新添加时会出bug
                        console.log(key);
                        $scope.items.splice(key, 1);
                        i--;
                        $scope.getResult();    //每次删除时得重新计算总值
                    }
                }

            })
    </script>
    <title>Title</title>
</head>
<body ng-controller="inputController">
<div ng-repeat="(key,item) in items track by $index">   <!-- 借助track by $index进行循环-->
    <input ng-model="items[key]"/><button ng-click="Fn.del(key)">删除</button>
</div>

{{result}}
<button ng-click="Fn.add()">Add</button>
<button ng-click="getResult()">Result</button>
</body>
</html>